on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check-special

jobs:
  sanitizers-and-valgrind:
    runs-on: ubuntu-latest
    name: ${{ matrix.config.name }}
    container:
      image: ${{ matrix.config.container }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { label: "clang-asan",
              name: "clang-asan",
              container: "ghcr.io/r-hub/containers/clang-asan:latest",
              git-install: apt-get update && apt-get install -y git }
          - { label: "valgrind",
              name: "valgrind",
              container: "ghcr.io/r-hub/containers/valgrind:latest",
              git-install: dnf check-update && dnf install -y git }

    steps:
      - name: Install git
        run: ${{ matrix.config.git-install }}

      - uses: r-hub/actions/checkout@v1.1.9
        with:
          submodules: true
      - uses: r-hub/actions/platform-info@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          job-config: ${{ matrix.config }}
      - uses: r-hub/actions/setup-deps@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          job-config: ${{ matrix.config }}
      - uses: r-hub/actions/run-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          job-config: ${{ matrix.config }}

